<%- include ('../partials/header') %>
<header class="home-cta">
  <h1>BBY Products</h1>
</header>

<div class="d-flex flex-wrap">
    <% for (let product of products) { %>
        <div class="card" style="width: 18rem;">
            <img src="<%= product.image %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text">$<%= product.price %></p>
            </div>
        </div>
    <% } %>
</div>
<%- include ('../partials/footer') %>